@import url('https://fonts.googleapis.com/css?family=Neuton');
@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Ovo');
*{
  font-family: 'Ovo' !important;
}
.navbar{
  background-color: #fff !important;
}
.navx {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.navbar-brand {
  font-size: 1.9rem !important;
  color: #565387 !important;
  font-weight: 700;
}

@media screen and (max-width:800px){
  .navx {
    display:block
  }
  .navbar-brand {
    font-size: 1.5rem !important;
  }
  .a {
    font-size: 1rem !important;
  }
  .header-img{
    display: none;
  }
}

.menu_item {
 
  border: 2px solid #2196f3;
  border-radius: 15px;
  background-color: #2196f3;
  color:white !important ; 
}



.a {
  font-size: 1.3rem !important;
  text-transform: capitalize;
  text-decoration: none;
  color: gray;
}

#header {
  width:100%;
  height: 100%;
  margin-top:50px;
}

#header h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700 !important;
  color: black !important;
}

#header .brand-name {
  color: #3498db;
}

#header h2 {
  color: #484848;
  font-size: 24px;
}

#header .get-started-button {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #3498db;
  border: 2px solid #3498db;
  text-decoration: none;
}
#header .get-started-button:hover{
  background:#3498db;
  color: #fff;
}
.header-img {
  text-align: right;
}

#header .animated {
  animation:up-down 2s ease-in-out infinite alternate-reverse both;
}
@keyframes up-down {
  0% {
    transform:translateY(10px)
  }
  100% {
    transform: translateY(-10px);
  }
}